<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TMS_Weight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TMS_Weight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TMS_Weight.Properties.Settings.tmsdbConnectionString"
            connectionString="Data Source=LAPTOP-EQEB97CE;Initial Catalog=tmsdb;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <TMS_Weight.Properties.Settings>
            <setting name="YardCode" serializeAs="String">
                <value>YTG,MN</value>
            </setting>
            <setting name="WBCode" serializeAs="String">
                <value>YTG-WB-1,YTG-WB-2</value>
            </setting>
            <setting name="GateCode" serializeAs="String">
                <value>YTGGATE</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value />
            </setting>
        </TMS_Weight.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-27.1462.58.0" newVersion="27.1462.58.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TMS_Weight.Properties.Settings>
      <setting name="BaseuRL" serializeAs="String">
        <value>https://localhost:7100</value>
      </setting>
    </TMS_Weight.Properties.Settings>
  </userSettings>
</configuration>